* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fafaf0;
}

p {
  font-family: origins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color: #282828;
  text-shadow: 0 0 50px #fafaf0, 0 0 25px #fafaf0, 0 0 12px #fafaf0, 0 0 6px #fafaf0;
}

img {
  opacity: 0.5;
}

.wrapper .slide {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 1000vh;
}

#modal {
  font-family: cabazon, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color: #282828;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100vh;
  width: 100vw;
  background-image: url("assets/intro.png");
  background-size: cover;
}

.vh-center {
  margin: auto auto;
  width: 80%;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background-image: url("assets/v1.png");
}
.two {
  background-image: url("assets/hook.png");
}
.three {
  background-image: url("assets/v2.png");
}
.four {
  background-image: url("assets/hook.png");
}
.five {
  background-image: url("assets/v3.png");
}
.six {
  background-image: url("assets/hook.png");
}
.seven {
  background-image: url("assets/v4.png");
}
.eight {
  background-image: url("assets/hook.png");
}
.nine {
  background-image: url("assets/v5.png");
}
.ten {
  background-image: url("assets/hook.png");
}
.center {
  text-align: center;
}
