body {
  background-color: #f5f5e2;
  background: url(assets/intro.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: cabazon, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
  color: #282828;
}

h2 {
  font-family: origins, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: #282828;
}

.title {
  position: absolute;
  right: 225px;
  bottom: 500px;
}